project:
  output-dir: docs

website:
  title: "{{ project_name }}"
  site-url: "https://{{ github_username }}.github.io/{{ repo_name }}"
  description: "{{ description }}"
  repo-branch: main
  repo-url: "https://github.com/{{ github_username }}/{{ repo_name }}"
